@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Royal Delivery.</h1>
    <p class="display-5">Bun Venit</p>
    <p class= "display-8">Firma Certificata de curierat</p>
    <p class ="display-8">Ai un colet la noi?Apasa aici pentru a afla mai multe despre el</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Colet" asp-action="Index">Colete</a>
</div>
